<html lang="sr" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  {{#if robots}}
  <meta name="robots" content="noindex, nofollow">{{/if}}
  <meta name="description"
    content="{{# if post.googDesc}}{{post.googDesc}}{{else}}Tutorijali za ljude koji žele da nauče da kodiraju, na Srpskom jeziku{{/if}}">
  <meta name="keywords" content="{{post.tags}}">
  <meta name="author" content="ČĎŠ">
  <meta name="theme-color" content="#ccff66">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- apple being special tags --}}
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#ccff66">
  <meta name="apple-mobile-web-app-title" content="mimosa-test">
  <link rel="apple-touch-icon" href="../../imgs/cog192.webp" sizes="192x192">
  <!-- twitter card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@kodiranje">
  <meta name="twitter:creator" content="@kodiranje">
  <meta name="twitter:title"
    content="{{# if post.socTitle}}{{post.socTitle}}{{else}}Nauči da praviš web sajtove{{/if}}">
  <meta name="twitter:description"
    content="{{# if post.socDesc}}{{post.socDesc}}{{else}}Detaljan opis, narodskim jezikom, kako se prave sajtovi. Bez prodaje magle i mućenja vode{{/if}}">
  {{#if (gt post.socImage.buffer.byteLength 0)}}
  <meta name="twitter:image"
    content="https://www.kodiranje.in.rs/og-{{post.courseName}}-{{post.selectedURL}}.webp">
  {{else}}
  <meta name="twitter:image"
    content="https://www.kodiranje.in.rs/imgs/og/og-default.webp">
  {{/if}}
  <meta name="twitter:url" content="https://kodiranje.in.rs/">
  <!-- og tags -->
  <meta property="og:title"
    content="{{# if post.socTitle}}{{post.socTitle}}{{else}}Nauči da praviš web sajtove{{/if}}">
  <meta property="og:description"
    content="{{# if post.socDesc}}{{post.socDesc}}{{else}}Detaljan opis, narodskim jezikom, kako se prave sajtovi. Bez prodaje magle i mućenja vode{{/if}}">
  <meta property="og:locale" content="sr_RS">
  {{#if (gt post.socImage.buffer.byteLength 0)}}
  <meta property="og:image"
    content="http://www.kodiranje.in.rs/og-{{post.courseName}}-{{post.selectedURL}}.webp">
  {{else}}
  <meta property="og:image" content="https://www.kodiranje.in.rs/og-default.webp">
  {{/if}}
  {{#if (gt post.socImage.buffer.byteLength 0)}}
  <meta property="og:image:secure_url"
    content="https://www.kodiranje.in.rs/og-{{post.courseName}}-{{post.selectedURL}}.webp">
  {{else}}
  <meta property="og:image:secure_url"
    content="https://www.kodiranje.in.rs/og-default.webp">{{/if}}
  <meta property="og:image:type" content="image/webp">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:url"
    content="https://www.kodiranje.in.rs/{{#if post.courseName}}{{post.courseName}}/{{/if}}{{#if post.selectedURL}}{{post.selectedURL}}/{{/if}}">
  <meta property="og:site_name" content="Kodiranje">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="2628437480546534">
  <meta name="pinterest-rich-pin" content="true">
  <meta name="msapplication-square310x310logo"
    content="https://www.kodiranje.in.rs/imgs/cog310.png">
  <meta name="facebook-domain-verification" content="x60s56yoxz39nquydtm46i1jocpcjp" />
  <title>Kodiranje {{# if post.googTitle}}| {{post.googTitle}}{{else}}|
    {{googTitle}}{{/if}}</title>
  <link rel="canonical"
    href="https://www.kodiranje.in.rs/{{#if post.courseName}}{{post.courseName}}/{{/if}}{{#if post.selectedURL}}{{post.selectedURL}}/{{/if}}">
  <link rel="manifest" href="../../manifest.json">
  <link rel="stylesheet" href="/styles/style.css" media="screen" defer async>
  <link rel="stylesheet" href="/styles/print.css" media="print" defer async>
  <link rel="icon" href="../../imgs/cog192.webp" sizes="192x192">
</head>