<html lang="sr">

<head>
  <meta charset="UTF-8">
  {{#if robots}}<meta name="robots" content="noindex, nofollow">{{/if}}
  <meta name="description" content="{{# if post.googDesc}}{{post.googDesc}}{{else}}Tutorijali za ljude koji žele da nauče da kodiraju, na Srpskom jeziku{{/if}}"
    id="metadesc">
  <meta name="keywords" content="{{post.tags}}">
  <meta name="author" content="ČĎŠ">
  <meta name="theme-color" content="#ccff66">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@kodiranje">
  <meta name="twitter:creator" content="@kodiranje">
  <meta name="twitter:title" content="{{# if post.socTitle}}{{post.socTitle}}{{else}}Nauči da praviš web sajtove{{/if}}">
  <meta name="twitter:description"
    content="{{# if post.socDesc}}{{post.socDesc}}{{else}}Detaljan opis, narodskim jezikom, kako se prave sajtovi. Bez prodaje magle i mućenja vode{{/if}}">
  <meta name="twitter:image" content="http://hikeislife.github.io/kodiranje/og/nauci-da-kodiras.webp">
  <meta name="twitter:url" content="http://hikeislife.github.io/kodiranje/">
  <!-- og tags -->
  <meta property="og:title" content="Nauči da praviš web sajtove">
  <meta property="og:description"
    content="{{# if post.socDesc}}{{post.socDesc}}{{else}}Detaljan opis, narodskim jezikom, kako se prave sajtovi. Bez prodaje magle i mućenja vode{{/if}}">
  <meta property="og:locale" content="sr_RS">
  <meta property="og:image" content="{{# if post.socImage}}{{post.socmage}}{{else}}http://hikeislife.github.io/kodiranje/og/nauci-da-kodiras.webp{{/if}}">
  <meta property="og:image:secure_url" content="{{# if post.socmage}}{{post.socImage}}{{else}}https://hikeislife.github.io/kodiranje/og/nauci-da-kodiras.webp{{/if}}">
  <meta property="og:image:type" content="image/webp">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:url" content="http://hikeislife.github.io/kodiranje/">
  <meta property="og:site_name" content="Kodiranje">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="2628437480546534">
  <meta name="pinterest-rich-pin" content="true">
  <meta name="msapplication-square310x310logo" content="../../imgs/cog310.png">
  <title>Kodiranje {{# if post.googTitle}}| {{post.googTitle}}{{else}}| {{googTitle}}{{/if}}</title>
  <link rel="canonical" href="https://hikeislife.github.io/kodiranje/">
  <link rel="manifest" href="/src/manifest.json">
  <link rel="stylesheet" href="/styles/style.css" media="screen" defer async>
  <link rel="icon" href="../../imgs/cog192.webp" sizes="192x192">
  <link rel="apple-touch-icon" href="../../imgs/cog192.webp" sizes="192x192">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" defer
    async media="all">
  <title>Kodiranje </title>
</head>