<ul id="side-menu">
  {{# if menu}}
  {{# each menu as |key value|}}
  <a href="{{key.selectedURL}}"><li id="{{key._id}}">{{key.navName}}</li></a>
  {{/each}}
  {{/if}}
  {{# if mainMenu}}
  {{# each mainMenu as |key value|}}
  <a href="/tut/mp/{{key.selectedURL}}">
    <li id="{{key._id}}">{{key.navName}}</li>
  </a>
  {{/each}}
  {{/if}}
  {{#if robots}}
  {{>admin/sidenav}}
  {{/if}}
</ul>