<article>
  <h1>Povuci i potegni da reorganizuješ kurseve</h1>
  <ul class="listless added-items">
    {{#each kursevi}}
    <li data-order="{{order}}" data-course-id="{{_id}}" draggable="true" class="{{#if active}}{{else}}inactive-item{{/if}}">
    {{name}}
    <div class="adminInput">
      <input type="checkbox" name="active" id="{{_id}}" {{#if active}}checked{{else}}{{/if}}>
      <label for="{{_id}}" class="reorderCheckbox"> </label>
    </div>
    </li>
    {{/each}}
  </ul>
  <a href="/admin/" class="nocolor"><button class="wideAdminButton" id="gumb">Sačuvaj izmene</button></a>
  <a href="/admin/svi-kursevi" class="nocolor"><button class="wideAdminButton">Svi kursevi</button></a>
</article>
<script type="module" src="../../js/courses/handleItemList.js"></script>
<script src="../../js/courses/batchEditCourses.js"></script>
{{!-- <script type="application/javascript+module" src="../../js/front/makeDraggable.js"></script> --}}