<article class="backend">
  <section>
    <h1>Uređivanje kurseva</h1>

  <a href="/admin/dodaj-kurs/" class="nocolor"><button
     class="admin-wideBtn admin-btn admin-newBtn">Dodaj kurs</button></a>

  <ul class="listless added-items">
    {{#each kursevi}}
    <li data-order="{{order}}" 
        data-my-id="{{_id}}" 
        draggable="true" 
        class="{{#if active}}{{else}}inactive-item{{/if}}">

      <p class="backendListItem"><a href="/admin/detalji-kursa/{{_id}}" class="nocolor">{{name}}</a></p>

      <div class="adminInputCheckbox">
        <input type="checkbox" name="active" id="{{_id}}" {{#if active}}checked{{else}}{{/if}}>
        <label for="{{_id}}" class="reorderCheckbox"> </label>
      </div>

      <p class="backendListItem"><a href="/admin/izmeni-kurs/{{_id}}" class="nocolor"><button
         class="admin-editBtn"></button></a></p>
    {{#if active}}<p></p>{{else}}

    <a href="/admin/ukloni-kurs/{{_id}}" class="nocolor"><button
       class="admin-warningBtn"></button></a>
    {{/if}}

    <p>{{increment order}}</p>
    {{!-- <p>{{order}}</p> --}}
    </li>
    {{/each}}
  </ul>
  <a href="/admin/" class="nocolor"><button class="admin-wideBtn admin-btn admin-saveButton" id="gumb">Sačuvaj izmene</button></a>
  </section>
</article>
<script type="module" src="../../js/courses/batchEditCourses/handleItemList.js"></script>
<script src="../../js/courses/batchEditCourses/batchEditCourses.js"></script>