{{!-- <article class="backend">
  <section>
    <h1>Lista svih artikala</h1>
  {{#if admin}}<p>Ulogovani ste kao {{admin}}</p>{{/if}}

  <a href="/admin/dodaj-lekciju" class="nocolor"><button
      class="admin-wideBtn admin-btn admin-newBtn">Dodaj novu
      lekciju</button></a>
  {{#each courses2}}<p>{{name}} {{setId}}</p>{{/each}}


  <div class="column">
    <div class="published">
      <h2>Objavljeni</h2>

      {{#each courses}}
      <details class="listAllArticles">
        <summary>
          {{name}} <span class="sum"></span>
        </summary>
        {{#each ../publishedArticles}}
        {{#if (eq courseName ../setId)}}
        <p><a href="/admin/{{courseName}}/{{selectedURL}}" class="nocolor">{{navName}}</a>
        </p>
        {{/if}}
        {{/each}}
      </details>
      {{/each}}


    </div>
    <div class="notPublished">
      <h2>Neobjavljeni</h2>

      {{#each courses}}
      <details class="listAllArticles">
        <summary>
          {{name}} <span class="sum"></span>
        </summary>
        {{#each ../notPublished}}
        {{#if (eq courseName ../setId)}}
        <p><a href="/admin/{{courseName}}/{{selectedURL}}" class="nocolor">{{navName}}</a>
        </p>
        {{/if}}
        {{/each}}
      </details>
      {{/each}}
    </div>

  </div>
  </section>
</article>

<script>
  const lists = document.querySelectorAll('details')

  lists.forEach(x => {
    const items = x.querySelectorAll('p')
    const counter = x.querySelector('.sum')
    counter.innerHTML = `(${items.length})`
  })
</script>
{{!-- <ul>
  {{#each courses}}
  <li>{{@index}} {{@key}} {{this}}</li>
  {{/each}}
</ul> --}} --}}