<article><h1>Detalji admina {{user.username}}</h1>

{{#if message}}<p class="adminSuccess">{{message}} sa id-ijem: {{user._id}}</p>{{/if}}

<div>
  <p>Ime admina: <b>{{user.name}}</b></p>
  <p>E-mail: <b>{{user.email}}</b></p>
</div>

<a href="/admin/svi-admini" class="nocolor"><button class="adminButton" style="width: 100%; height: 3em; margin: 1em 0;">Lista svih admina</button></a>
<a href="/admin/izmeni-admina/{{user.id}}" class="nocolor"><button class="adminButton" style="width: 100%; height: 3em; margin: 1em 0;">Izmeni detalje</button></a>
<a href="/admin/ukloni-admina/{{user.id}}" class="nocolor"><button class="warning adminButton" style="width: 100%; height: 3em; margin: 1em 0;">Obriši admina</button></a>
</article>