<article><h1>Detalji admina {{user.username}}</h1>

{{#if message}}<p class="adminSuccess">{{message}} sa id-ijem: {{user._id}}</p>{{/if}}

<div>
  <p>Ime admina: <b>{{user.name}}</b></p>
  <p>E-mail: <b>{{user.email}}</b></p>
</div>

<a href="/admin/svi-admini" class="nocolor"><button class="wideAdminButton admin-allButton">Lista svih admina</button></a>
<a href="/admin/izmeni-admina/{{user.id}}" class="nocolor"><button class="wideAdminButton admin-editButton">Izmeni detalje</button></a>
<a href="/admin/ukloni-admina/{{user.id}}" class="nocolor"><button class="wideAdminButton admin-warningButton">Obriši admina</button></a>
</article>