<article class="backend">
<h1>Detalji admina {{user.username}}</h1>

{{#if message}}<p class="adminSuccess">{{message}} sa id-ijem: {{user._id}}</p>{{/if}}

<div>
  {{#if user.password}}<p class="adminError">Ako ovo vidiš, postoji problem, code 666</p>{{/if}}
  <p>Ime admina: <b>{{user.name}}</b></p>
  <p>E-mail: <b>{{user.email}}</b></p>
</div>

<a href="/admin/svi-admini" class="nocolor"><button class="admin-wideBtn admin-allButton">Lista svih admina</button></a>
<a href="/admin/izmeni-admina/{{user.id}}" class="nocolor"><button class="admin-wideBtn admin-editButton">Izmeni detalje</button></a>
<a href="/admin/ukloni-admina/{{user.id}}" class="nocolor"><button class="admin-wideBtn admin-warningButton">Obriši admina</button></a>
</article>