{{!-- <script src="../../js/admin/showAll.js"></script>  --}}
<article class="backend">
  <h1>Svi admini</h1>
<table>
  <thead>
    <tr>
      <th>Ime</th>
      <th>UN</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each admins}}
    <tr>
      <td>{{name}}</td>
      <td>{{username}}</td>
      <td>{{email}}</td>
      <td><a href="/admin/detalji/{{_id}}" class="nocolor center"><button class="adminButton admin-detailsButton"></button></a></td>
      <td><a href="/admin/izmeni-admina/{{_id}}" class="nocolor center"><button class="adminButton admin-editButton"></button></a></td>
      <td><a href="/admin/ukloni-admina/{{_id}}" class="nocolor center"><button class="adminButton admin-warningButton"></button></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a href="/admin/dodaj-admina"><button class="admin-newBtn admin-wideBtn">Dodaj novog admina</button></a>
</article>
